<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="{{url_for('static', filename='mustache.js')}}"></script>

    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <title>Expenses Chart</title>
</head>
<body>

<h2>Upload your csv file</h2>
<form action="{{ url_for('charts.upload_form') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="csv_file">
    <input type="submit">
</form>

<h2>Expenses Chart</h2>

<form action="">
    <input type="text" class="datepicker" name="date_from">
    <input type="text" class="datepicker" name="date_to">
    <input type="submit" value="Go">
</form>

<div class="expenses-chart">
    <div id="chart_div" style="width: 700px; height: 500px;"></div>
</div>
<div id="category_details">
    <table>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </table>
</div>

<table id="row_template" style="display: none;">
    <tr>
        {% raw %}
        <td>{{date}}</td>
        <td>{{amount}}</td>
        <td>{{description}}</td>
        {% endraw %}
    </tr>
</table>

<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    var chart = null;
    var data = null;
    var date_from = '{{ date_range.0 }}'
    var date_to = '{{ date_range.1 }}'

    function selectHandler() {
        selection = chart.getSelection()[0]
        selected_category = data.getFormattedValue(selection.row, 0)
        // get data for selected category and specified date range
        $.get('{{url_for('charts.get_category')}}',
               {
                date_from: date_from,
                date_to: date_to,
                category: selected_category
               },
               updateCategory,
               'json')

    }

    function updateCategory(data, status){
        table = $('#category_details>table')
        table.find("tr:gt(0)").remove();
        console.log(data)
        for (var key in data) {
            row = data[key]
            console.log[row]
            table.find('tr:last').after(
                Mustache.render($('#row_template tr').parent().html(),
                                {date: row['date'],
                                amount: row['amount'],
                                description: row['description'].substring(0,80)})
                )
        }
        table.parent().show()
    }

    function drawChart() {
        data = google.visualization.arrayToDataTable({{ pie_data|to_json|safe}});

        var options = {
        title: 'Expenses for {{ date_range.0 }} - {{ date_range.1 }} period'
        };

        chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        google.visualization.events.addListener(chart, 'select', selectHandler);
    }

    $(function() {
        $( ".datepicker" ).datepicker({formatDate: 'yy-mm-dd'});
    });
</script>

</body>
</html>
